//--------------------------------------------------------
//Reseting standart browser styles
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//--------------------------------------------------------
$font-style: Ubuntu, sans-serif;
$text-color-black: #000000;
$text-color-4f4f4f: #4F4F4F;
$max-width: 1350px;

html{
    width: 100%;
    min-height: 100vh;
}

html,
body {
  font-family: $font-style;
}

body {
  height: 100%;
  line-height: 1;
  font-family: $font-style;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

a{
    text-decoration: none;
    color: $text-color-black;
    
    &:hover{
        color: $text-color-black;
        text-decoration:none;
        cursor:pointer;  
    }
}

.nav-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 90px;
    .nav-logo{
        font-size: 22px;
        display: inline-block;
        font-size: 22px;
        margin-top: 34px;
    }
    .nav-menu{
        width: auto;
        font-size: 18px;
        a {
            display: inline-block;
            margin: 34px 20px 0 20px;
            transition: background-size .5s;
            background-image: linear-gradient(to right, #000000,#000000);
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            padding-bottom: 2px;
            &:hover {
                background-size: 100% 2px;
            }
        }
    }
}

input[type=password], input[type=username], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4F4F4F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(119, 119, 119);
  }

  .user-thumbnail {
    margin: 34px 20px 0 20px;
  }